[defaults]
INVENTORY = inventory.yaml
host_key_checking = false
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=3600s
control_path = /dev/null
pipelining=True
