[submodule "submodules/ansible-role-docker"]
	path = submodules/ansible-role-docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "submodules/role-secure-docker-daemon"]
	path = submodules/role-secure-docker-daemon
	url = https://github.com/ansible/role-secure-docker-daemon.git
[submodule "submodules/ansible-role-kubernetes"]
	path = submodules/ansible-role-kubernetes
	url = https://github.com/geerlingguy/ansible-role-kubernetes.git
[submodule "submodules/ansible-role-awscli-v2"]
	path = submodules/ansible-role-awscli-v2
	url = https://github.com/awerebea/ansible-role-awscli-v2.git
[submodule "submodules/ansible-role-kitty"]
	path = submodules/ansible-role-kitty
	url = https://github.com/awerebea/ansible-role-kitty.git
[submodule "submodules/ansible-role-helm"]
	path = submodules/ansible-role-helm
	url = https://github.com/awerebea/ansible-role-helm.git
